<!DOCTYPE html>
<html lang="ko">
<head>

  <meta charset="utf-8">
  <title>쿠폰 : 멀팡</title>
  <meta name="description" content="멀티 캠퍼스 HTML5 강의용 데모 사이트">
  <meta name="keywords" content="html5,css3,svg">
  <link rel="shortcut icon" href="/image/favicon.ico">
  <link rel="stylesheet" media="all" type="text/css" href="/css/layout.css">

  <link rel="stylesheet" media="all" type="text/css" href="/css/best.css">
  <!-- RGraph(http://www.rgraph.net) -->
  <script src="/js/lib/rgraph/RGraph.common.core.js"></script>
  <script src="/js/lib/rgraph/RGraph.common.dynamic.js"></script>
  <script src="/js/lib/rgraph/RGraph.hbar.js"></script>
  <!-- Chart.js(http://www.chartjs.org) -->
  <script src="/js/lib/Chart.js"></script>
  <!-- Flotr2(http://humblesoftware.com/flotr2) -->
  <script src="/js/lib/flotr2.js"></script>
  <!-- socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/lib/moment.js"></script>
  <script src="/js/best.js"></script>
</head>
<body>
	<a href="#main" id="skipNavi">본문바로가기</a>
	<div id="page">
		<header id="header">
      <hgroup>
        <h1 class="logo">
          <a href="/"><img src="/image/svg/logo.svg" alt="mulPang"></a>
        </h1>
        <h2 class="theme">
          <img src="/image/svg/logo_text.svg" alt="오늘은 뭘 파니?">
        </h2>
      </hgroup>
      <nav id="nav">
        <h1 class="blind">메인메뉴</h1>
        <ul>
          <li class="today"><a href="/today.html">오늘</a></li>
          <li class="near"><a href="/location.html">근처</a></li>
          <li class="best"><a href="/best.html">추천</a></li>
          <li class="all"><a href="/all.html">모두</a></li>
        </ul>
      </nav>
      <div id="member_info">
        <!-- 회원정보/로그인 화면 출력 영역 -->    
        <h1 class="blind">로그인</h1>
        <form id="simple_login" name="simple_login_form" action="#" method="post">
          <label for="login_username">아이디</label>
          <input type="email" id="login_username" name="_id" required placeholder="등록된 e-mail 입력">
          <label for="login_password">비밀번호</label>
          <input type="password" id="login_password" name="password" required placeholder="비밀번호 입력">
          <input type="submit" value="로그인">
        </form>
        <a href="/join.html" class="member_join">회원가입</a>
      </div>
      <div id="cart" class="carton">
        <h2 class="interest">관심쿠폰</h2>
        <p class="interest_cnt">2</p>
        <ul>
          <!-- 관심 쿠폰 출력 영역 -->
          <li>
            <a href="/detail.html"><img src="/image/coupon/coupon_16.jpg" alt="디저트 마카롱"></a>
            <button class="cart_close">관심쿠폰 삭제</button>
          </li>
          <li>
            <a href="/detail2.html"><img src="/image/coupon/coupon_02.jpg" alt="커피통 와플"></a>
            <button class="cart_close">관심쿠폰 삭제</button>
          </li>
        </ul>
      </div>
    </header>
    <div id="main">
      <section id="best_section">
        <article id="graph_by_sale_article">
          <h1>mulpang Best!</h1>
          <div id="graph_by_sale_div">
            <h2>판매순 그래프</h2>
            <img id="graph_by_sale" src="/image/graph_by_sale.png" width="472" height="250">
          </div>
          <div id="graph_by_point_div">
            <h2>평가순 그래프</h2>
            <canvas id="graph_by_point" width="472" height="250">
          </div>
          <div id="graph_by_view_div">
            <h2>조회순 그래프</h2>
            <canvas id="graph_by_view" width="472" height="250">
          </div>
          <div id="graph_by_reply_div">
            <h2>댓글순 그래프</h2>
            <div id="graph_by_reply"></div>
          </div>
        </article>
      </section>  
		</div>
		<footer id="footer">
      <h1 class="logo">
        <a href="http://www.multicampus.com"><img src="/image/logo.gif" alt="멀티캠퍼스 로고"> </a>
      </h1>
      <ul class="menu">
        <li><a href="http://career.multicampus.com/">채용안내</a></li>
        <li><a href="http://www.credu.com/web/join/check/provision.html">이용약관</a></li>
        <li><a href="http://www.credu.com/web/credu/html/learn/user/member/pop_provision.html">개인정보취급방침</a></li>
        <li><a href="http://www.credu.com/main/credu/user/community/zu_contactus_I.jsp?p_menuid=090030000000000&p_site=HOME">1:1문의</a></li>
        <li><a href="http://www.credu.com/main/credu/user/community/zu_eduInquire_L.jsp?p_menuid=090040000000000">기업문의</a></li>
        <li><a href="http://www.credu.com/main/credu/user/community/zu_location.jsp?p_menuid=090060000000000">찾아오시는길</a></li>
      </ul>
      <p class="info">Mulpang㈜ 대표이사 : 김철수, 개인정보 관리 책임자 : 이영희, 사업자등록번호:123-45-6789</p>
      <address>서울특별시 강남구 언주로 508 10~17층(역삼동, 서울상록빌딩) 고객지원 1544-9001 평일 상담시간 : 8:00~20:00 휴일 상담시간 : 9:00~18:00(휴일 점심시간 12:00~13:00 제외)</address>
      <p class="copyright">Copyright&copy; 2099 MULPANG. All right reserved. Contact webmaster for more information</p>
    </footer>	
	</div>
</body>
</html>




