<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('layout/head', { title: '추천 쿠폰' }) %>
  <link rel="stylesheet" media="all" type="text/css" href="/css/best.css">
  <!-- RGraph(http://www.rgraph.net) -->
  <script src="/js/lib/rgraph/RGraph.common.core.js"></script>
  <script src="/js/lib/rgraph/RGraph.common.dynamic.js"></script>
  <script src="/js/lib/rgraph/RGraph.hbar.js"></script>
  <!-- Chart.js(http://www.chartjs.org) -->
  <script src="/js/lib/Chart.js"></script>
  <!-- Flotr2(http://humblesoftware.com/flotr2) -->
  <script src="/js/lib/flotr2.js"></script>
  <!-- socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/lib/moment.js"></script>
  <script src="/js/best.js"></script>
</head>
<body>
	<a href="#main" id="skipNavi">본문바로가기</a>
	<div id="page">

    <%- include('layout/header') %>

    <div id="main">
      <section id="best_section">
        <article id="graph_by_sale_article">
          <h1>mulpang Best!</h1>
          <div id="graph_by_sale_div">
            <h2>판매순 그래프</h2>
            <canvas id="graph_by_sale" width="472" height="250">
          </div>
          <div id="graph_by_point_div">
            <h2>평가순 그래프</h2>
            <canvas id="graph_by_point" width="472" height="250">
          </div>
          <div id="graph_by_view_div">
            <h2>조회순 그래프</h2>
            <canvas id="graph_by_view" width="472" height="250">
          </div>
          <div id="graph_by_reply_div">
            <h2>댓글순 그래프</h2>
            <div id="graph_by_reply"></div>
          </div>
        </article>
      </section>  
		</div>

    <%- include('layout/footer') %>

	</div>
</body>
</html>