<!DOCTYPE html>
<html lang="ko">
<head>

  <meta charset="utf-8">
  <title>쿠폰 : 멀팡</title>
  <meta name="description" content="멀티 캠퍼스 HTML5 강의용 데모 사이트">
  <meta name="keywords" content="html5,css3,svg">
  <link rel="shortcut icon" href="/image/favicon.ico">
  <link rel="stylesheet" media="all" type="text/css" href="/css/layout.css">

  <link rel="stylesheet" media="all" type="text/css" href="/css/detail.css">
  <script src="/js/detail.js"></script>
</head>
<body>
	<a href="#main" id="skipNavi">본문바로가기</a>
	<div id="page">
		<header id="header">
      <hgroup>
        <h1 class="logo">
          <a href="/"><img src="/image/svg/logo.svg" alt="mulPang"></a>
        </h1>
        <h2 class="theme">
          <img src="/image/svg/logo_text.svg" alt="오늘은 뭘 파니?">
        </h2>
      </hgroup>
      <nav id="nav">
        <h1 class="blind">메인메뉴</h1>
        <ul>
          <li class="today"><a href="/today.html">오늘</a></li>
          <li class="near"><a href="/location.html">근처</a></li>
          <li class="best"><a href="/best.html">추천</a></li>
          <li class="all"><a href="/all.html">모두</a></li>
        </ul>
      </nav>
      <div id="member_info">
        <!-- 회원정보/로그인 화면 출력 영역 -->    
        <h1 class="blind">로그인</h1>
        <form id="simple_login" name="simple_login_form" action="#" method="post">
          <label for="login_username">아이디</label>
          <input type="email" id="login_username" name="_id" required placeholder="등록된 e-mail 입력">
          <label for="login_password">비밀번호</label>
          <input type="password" id="login_password" name="password" required placeholder="비밀번호 입력">
          <input type="submit" value="로그인">
        </form>
        <a href="/join.html" class="member_join">회원가입</a>
      </div>
      <div id="cart" class="carton">
        <h2 class="interest">관심쿠폰</h2>
        <p class="interest_cnt">2</p>
        <ul>
          <!-- 관심 쿠폰 출력 영역 -->
          <li>
            <a href="/detail.html"><img src="/image/coupon/coupon_16.jpg" alt="디저트 마카롱"></a>
            <button class="cart_close">관심쿠폰 삭제</button>
          </li>
          <li>
            <a href="/detail2.html"><img src="/image/coupon/coupon_02.jpg" alt="커피통 와플"></a>
            <button class="cart_close">관심쿠폰 삭제</button>
          </li>
        </ul>
      </div>
    </header>
    <div id="main">			
			<section id="coupon">
				<h1 class="blind">쿠폰 상세 정보</h1>
				<div class="coupon_list">
          <!-- 쿠폰 상세정보 출력 영역 -->		
          <article class="detail" data-couponid="coupon456">
            <h1>커피통 와플</h1>
            <img class="list_img" src="/image/coupon/coupon_02.jpg" alt="커피통 와플 메인 이미지">
            <img class="detail_img" src="/image/coupon/coupon_02_detail.jpg" alt="커피통 와플 상세 이미지">
            <section class="content">
							<p class="note">
								와플과 아이스크림 세트가 12000원
              </p>
              <ul class="coupon_info">
                <li class="cost">정상가격 : <del>16000원</del></li>
                <li class="discount">할인가격 : <em>12000원</em></li>
                <li class="expire">유효기간 : 
                  <time datetime="2099-01-01">2099-01-01</time> ~
                  <time datetime="2099-12-31">2099-12-31</time>
                </li>
              </ul>
              <ul class="coupon_current">
                <li class="remain">잔여수량<span>70개</span></li>
                <li class="term">판매기간 : 
                  <time datetime="2099-01-01">2099-01-01</time> ~
                  <time datetime="2099-12-31">2099-12-31</time>
                </li>
              </ul>
              <a href="/buy.html" class="buy">구매하기</a>
              <!-- <span class="soldout">매진</span> -->
            </section>
            <div class="coupon_tab">
							<section class="gallery">
								<h1 tabindex="0">갤러리</h1>
								<div class="gallery_viewport">
									<h1>동영상</h1>
                  <video src="/video/waffle.mp4" alt="와플 홍보 동영상"></video>
								</div>
								<article>
									<h1>포토 리스트</h1>
									<ul class="photo_list">
                    <!-- 포토 리스트 출력 영역 -->						
                    <li><a href="/image/coupon/coupon_02_0.jpg" title="추억의 폴라로이드 사진"><img src="/image/coupon/coupon_02_0.jpg" alt="추억의 폴라로이드 사진"></a></li>                  
                    <li><a href="/image/coupon/coupon_02_1.jpg" title="라떼아트"><img src="/image/coupon/coupon_02_1.jpg" alt="라떼아트"></a></li>                  
                    <li><a href="/image/coupon/coupon_02_2.jpg" title="맛있는 쿠키"><img src="/image/coupon/coupon_02_2.jpg" alt="맛있는 쿠키"></a></li>                  
                    <li><a href="/image/coupon/coupon_02_3.jpg" title="팥빙수"><img src="/image/coupon/coupon_02_3.jpg" alt="팥빙수"></a></li>                  
                  </ul>
                  <div class="big_photo">
                    <img src="/image/coupon/coupon_02_0.jpg" width="300" height="250" alt="추억의 폴라로이드 사진">
                  </div>
								</article>
							</section>
							<section class="reply tab_off">
								<h1 tabindex="0">쿠폰 후기 및 평점</h1>
								<ul class="reply_list">
                  <!-- 후기 목록 출력 영역 -->																			
                  <li>
                    <article>
                      <span>★★★★★</span>
                      <p>와플 짱!!! 강추해요.</p>
                      <footer>
                        <img src="/image/member/uzoolove@gmail.com" alt="uzoolove@gmail.com 회원 프로필 사진"> <span>uzoolove@gmail.com</span>
                        <time datetime="2099-02-24">2099-02-24</time>
                      </footer>
                    </article>
                  </li>                                      
                  <li>
                    <article>
                      <span>★★★</span>
                      <p>벌써 두번째 구매인데 와플이 맛있어요.</p>
                      <footer>
                        <img src="/image/member/test@test.com" alt="test@test.com 회원 프로필 사진"> <span>test@test.com</span>
                        <time datetime="2099-02-12">2099-02-12</time>
                      </footer>
                    </article>
                  </li>                        
                </ul>
							</section>
							<section class="map tab_off">
								<h1 tabindex="0">찾아오시는 길</h1>
								<div class="map_div"><img src="/image/shop/shop_map_02.png" alt="스타벅스 압구정 지도"></div>
								<article class="shop">
                  <h1>
                    <span class="company_name">스타벅스 압구정</span>
                  </h1>
                  <div>
                    <dl>
                      <dt>영업점 소개</dt>
                      <dd>
                        <img src="/image/shop/shop_02.jpg" alt="스타벅스 압구정 전경">
                        <p class="company_desc">스타벅스 압구정 지점입니다.</p>
                      </dd>
                      <dt>찾아 오시는길</dt>
                      <dd>
                        압구정역 3번 출구로 나와서 30m 걸어오신 후 첫번째 골목에서 20m 들어가면 간판이 보입니다.
                      </dd>
                      <dt>영업시간</dt>
                      <dd>10:00 ~ 22:00</dd>
                      <dt>문의전화 / e-mail</dt>
                      <dd>
                        전화 : <a href="tel:02-222-3333">02-222-3333</a> / e-mail : <a href="mailto:star@naver.com">star@naver.com</a>
                      </dd>
                    </dl>
                  </div>
                </article>
							</section>
            </div>	
            <button type="button" class="btn_add_cart">관심쿠폰등록</button>
            <button type="button" class="btn_close_coupon_detail">쿠폰 상세 보기 닫기</button>
          </article>
				</div>
			</section>
		</div>
		<footer id="footer">
      <h1 class="logo">
        <a href="http://www.multicampus.com"><img src="/image/logo.gif" alt="멀티캠퍼스 로고"> </a>
      </h1>
      <ul class="menu">
        <li><a href="http://career.multicampus.com/">채용안내</a></li>
        <li><a href="http://www.credu.com/web/join/check/provision.html">이용약관</a></li>
        <li><a href="http://www.credu.com/web/credu/html/learn/user/member/pop_provision.html">개인정보취급방침</a></li>
        <li><a href="http://www.credu.com/main/credu/user/community/zu_contactus_I.jsp?p_menuid=090030000000000&p_site=HOME">1:1문의</a></li>
        <li><a href="http://www.credu.com/main/credu/user/community/zu_eduInquire_L.jsp?p_menuid=090040000000000">기업문의</a></li>
        <li><a href="http://www.credu.com/main/credu/user/community/zu_location.jsp?p_menuid=090060000000000">찾아오시는길</a></li>
      </ul>
      <p class="info">Mulpang㈜ 대표이사 : 김철수, 개인정보 관리 책임자 : 이영희, 사업자등록번호:123-45-6789</p>
      <address>서울특별시 강남구 언주로 508 10~17층(역삼동, 서울상록빌딩) 고객지원 1544-9001 평일 상담시간 : 8:00~20:00 휴일 상담시간 : 9:00~18:00(휴일 점심시간 12:00~13:00 제외)</address>
      <p class="copyright">Copyright&copy; 2099 MULPANG. All right reserved. Contact webmaster for more information</p>
    </footer>	
	</div>
</body>
</html>




