<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('layout/head', { title: '오늘의 쿠폰' }) %>
  <link rel="stylesheet" media="all" type="text/css" href="/css/location.css">
  <script src="/js/location.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC73UO92FFrmEveSQEsd3JMxgzDS7XXdWc&loading=async&libraries=marker&callback=initMap" defer></script>
</head>
<body>
	<a href="#main" id="skipNavi">본문바로가기</a>
	<div id="page">

    <%- include('layout/header') %>

    <div id="main">			
      <section id="location_map" title="지도 표시 영역"> .....loading..... </section>
			<section id="coupon">
				<h1 class="blind">쿠폰 상세 정보</h1>
				<div class="coupon_list">
          <!--  쿠폰 목록 출력 영역 -->

            <article data-lat="37.5252287" data-lng="126.9259026" tabindex="0" class="location_slide_pre_hide">
              <h1>물냉면</h1>
              <a href="/coupons/1">
                <img class="detail_img" src="image/coupon/coupon_01_detail.jpg" alt="물냉면 상세 이미지">
              </a>
              <section class="content">
                <p class="note">
                  맛있는 물냉이 6000원. 반값에 제공합니다.
                </p>
                <ul class="coupon_info">
                  <li class="cost">정상가격 : <del>8000원</del></li>
                  <li class="discount">할인가격 : <em>6000원</em></li>
                  <li class="expire">유효기간 : 
                    <time datetime="2099-03-02">2099-03-02</time> ~ 
                    <time datetime="2099-04-03">2099-04-03</time>
                  </li>
                  <li class="remain">잔여수량 : <span>10개</span></li>
                  <li class="term">판매기간 : 
                    <time datetime="2099-01-01">2099-01-01</time> ~
                    <time datetime="2099-12-31">2099-12-31</time>
                  </li>
                </ul>
              </section>
            </article>					
                    
            <article data-lat="37.5252287" data-lng="126.9259026" tabindex="0" class="location_slide_pre_02">
              <h1>베스킨 라빈스</h1>
              <a href="/coupons/2">
                <img class="detail_img" src="image/coupon/coupon_07_detail.jpg" alt="베스킨 라빈스 싱글콘 상세 이미지">
              </a>
              <section class="content">
                <p class="note">
                  32가지 아이스크림 중에서 싱글콘 선택이 가능
                </p>
                <ul class="coupon_info">
                  <li class="cost">정상가격 : <del>13500원</del></li>
                  <li class="discount">할인가격 : <em>10000원</em></li>
                  <li class="expire">유효기간 : 
                    <time datetime="2099-03-08">2099-03-08</time> ~ 
                    <time datetime="2099-04-03">2099-04-03</time>
                  </li>
                  <li class="remain">잔여수량 : <span>17개</span></li>
                  <li class="term">판매기간 : 
                    <time datetime="2099-01-01">2099-01-01</time> ~
                    <time datetime="2099-12-31">2099-12-31</time>
                  </li>
                </ul>
              </section>
            </article>					
                    
            <article data-lat="37.5252287" data-lng="126.9259026" tabindex="0" class="location_slide_pre_01">
              <h1>널부 쭈꾸미</h1>
              <a href="/coupons/3">
                <img class="detail_img" src="image/coupon/coupon_12_detail.jpg" alt="널부 쭈꾸미 상세 이미지">
              </a>
              <section class="content">
                <p class="note">
                  널부에서 매콤한 쭈꾸미 볶음을 저렴한 가격에 구입할 수 있는 절호의 찬스
                </p>
                <ul class="coupon_info">
                  <li class="cost">정상가격 : <del>28000원</del></li>
                  <li class="discount">할인가격 : <em>15000원</em></li>
                  <li class="expire">유효기간 : 
                    <time datetime="2099-03-09">2099-03-09</time> ~ 
                    <time datetime="2099-03-19">2099-03-19</time>
                  </li>
                  <li class="remain">잔여수량 : <span>10개</span></li>
                  <li class="term">판매기간 : 
                    <time datetime="2099-01-01">2099-01-01</time> ~
                    <time datetime="2099-12-31">2099-12-31</time>
                  </li>
                </ul>
              </section>
            </article>					
                    
            <article data-lat="37.5252287" data-lng="126.9259026" tabindex="0" class="location_slide_act">
              <h1>그라제 버거</h1>
              <a href="/coupons/4">
                <img class="detail_img" src="image/coupon/coupon_06_detail.jpg" alt="그라제 버거 상세 이미지">
              </a>
              <section class="content">
                <p class="note">
                  수제 햄거버의 명문!!! 그라제 버거. 반값 가격으로 만나보세요.
                </p>
                <ul class="coupon_info">
                  <li class="cost">정상가격 : <del>8000원</del></li>
                  <li class="discount">할인가격 : <em>6400원</em></li>
                  <li class="expire">유효기간 : 
                    <time datetime="2099-03-05">2099-03-05</time> ~ 
                    <time datetime="2099-03-07">2099-03-07</time>
                  </li>
                  <li class="remain">잔여수량 : <span>297개</span></li>
                  <li class="term">판매기간 : 
                    <time datetime="2099-01-01">2099-01-01</time> ~
                    <time datetime="2099-12-31">2099-12-31</time>
                  </li>
                </ul>
              </section>
            </article>					
                    
            <article data-lat="37.5252287" data-lng="126.9259026" tabindex="0" class="location_slide_next_01">
              <h1>허브 삼겹살</h1>
              <a href="/coupons/5">
                <img class="detail_img" src="image/coupon/coupon_11_detail.jpg" alt="허브 삼겹살 상세 이미지">
              </a>
              <section class="content">
                <p class="note">
                  홍대 직장인의 회식 장소. 허브 삼겹살 반값쿠폰.
                </p>
                <ul class="coupon_info">
                  <li class="cost">정상가격 : <del>11000원</del></li>
                  <li class="discount">할인가격 : <em>5500원</em></li>
                  <li class="expire">유효기간 : 
                    <time datetime="2099-03-11">2099-03-11</time> ~ 
                    <time datetime="2099-03-14">2099-03-14</time>
                  </li>
                  <li class="remain">잔여수량 : <span>90개</span></li>
                  <li class="term">판매기간 : 
                    <time datetime="2099-01-01">2099-01-01</time> ~
                    <time datetime="2099-12-31">2099-12-31</time>
                  </li>
                </ul>
              </section>
            </article>					
                    
            <article data-lat="37.5252287" data-lng="126.9259026" tabindex="0" class="location_slide_next_02">
              <h1>정로곱창</h1>
              <a href="/coupons/6">
                <img class="detail_img" src="image/coupon/coupon_15_detail.jpg" alt="정로곱창 상세이미지">
              </a>
              <section class="content">
                <p class="note">
                  쫄깃쫄깃 고소, 달콤, 매콤, 고소한 정로 곱창. 곱창의 품격을 느낄 수 있는 정로 곱창으로 오세요.
                </p>
                <ul class="coupon_info">
                  <li class="cost">정상가격 : <del>38000원</del></li>
                  <li class="discount">할인가격 : <em>20000원</em></li>
                  <li class="expire">유효기간 : 
                    <time datetime="2099-03-12">2099-03-12</time> ~ 
                    <time datetime="2099-03-14">2099-03-14</time>
                  </li>
                  <li class="remain">잔여수량 : <span>14개</span></li>
                  <li class="term">판매기간 : 
                    <time datetime="2099-01-01">2099-01-01</time> ~
                    <time datetime="2099-12-31">2099-12-31</time>
                  </li>
                </ul>
              </section>
            </article>
                    
            <article data-lat="37.5252287" data-lng="126.9259026" tabindex="0" class="location_slide_next_hide">
              <h1>돌판 오리고기</h1>
              <a href="/coupons/7">
                <img class="detail_img" src="image/coupon/coupon_14_detail.jpg" alt="돌판 오리고기 상세이미지">
              </a>
              <section class="content">
                <p class="note">
                  오리고기의 명문. 회식의 필수코스. 돌판 오리고기. 돌판 오리고기에서는 국내산만을 취급합니다.
                </p>
                <ul class="coupon_info">
                  <li class="cost">정상가격 : <del>55000원</del></li>
                  <li class="discount">할인가격 : <em>30000원</em></li>
                  <li class="expire">유효기간 : 
                    <time datetime="2099-03-12">2099-03-12</time> ~ 
                    <time datetime="2099-03-19">2099-03-19</time>
                  </li>
                  <li class="remain">잔여수량 : <span>60개</span></li>
                  <li class="term">판매기간 : 
                    <time datetime="2099-01-01">2099-01-01</time> ~
                    <time datetime="2099-12-31">2099-12-31</time>
                  </li>
                </ul>
              </section>
            </article>

        </div>
      </section>
      <div id="location_coupon_control">
        <div id="location_coupon_counter">
          <span id="counter_now">6</span> / <span id="counter_all">12</span>
        </div>
        <button type="button" id="btn_pre_location_coupon">이전</button>
        <input type="range" min="0" max="11" value="5">
        <button type="button" id="btn_next_location_coupon">다음</button>
      </div>
		</div>

    <%- include('layout/footer') %>

	</div>
</body>
</html>