<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('layout/head', { title: '오늘의 쿠폰' }) %>
  <link rel="stylesheet" media="all" type="text/css" href="/css/mypage.css">
  <script src="/js/mypage.js"></script>
</head>
<body>
	<a href="#main" id="skipNavi">본문바로가기</a>
	<div id="page">

    <%- include('layout/header') %>

    <div id="main">			
      <section class="form_section">
        <h1>회원 수정</h1>
        <form>
          <input type="hidden" name="tmpFileName">
          <img src="/image/member/uzoolove@gmail.com" alt="uzoolove@gmail.com 회원 프로필 이미지">
          <table>
            <tr>
              <th>이메일</th>
              <td>uzoolove@gmail.com</td>
            </tr>
            <tr>
              <th><label for="profile">프로필 이미지</label></th>
              <td>
                <input type="file" accept="image/*" id="profile">
                <progress>0%</progress>
              </td>
            </tr>
            <tr>
              <th><label for="password_old">비밀번호</label></th>
              <td><input type="password" id="password_old" name="oldPassword" required></td>
            </tr>
            <tr>
              <th><label for="password">새 비밀번호</label></th>
              <td><input type="password" id="password" name="password"></td>
            </tr>
            <tr>
              <th><label for="password2">새 비밀번호확인</label></th>
              <td><input type="password" id="password2"></td>
            </tr>
          </table>
          <div class="btn_div"><button type="submit">정보 수정</button></div>
        </form>
      </section>
      <section id="my_coupon_section">
				<h1>내가 구매한 쿠폰 리스트</h1>    
				<!-- 구매한 쿠폰 목록 출력 영역 -->
				
          <article class="coupon_preview">
            <h1>물냉면</h1>
            <a href="/detail2.html">
              <img class="coupon_list_image" src="/image/coupon/coupon_01.jpg" alt="물냉면 메인 이미지">
            </a>
            <time datetime="2099-03-03 21:19:08">2099-03-03 21:19:08</time>
            <p>치맥 괜찮아요. 하지만 물냉면은 비추...</p>
            <p>★★★★</p>
          </article>
        
          <article class="coupon_preview">
            <h1>디저트 마카롱</h1>
            <a href="/detail.html">
              <img class="coupon_list_image" src="/image/coupon/coupon_16.jpg" alt="디저트 마카롱 메인 이미지">
            </a>
            <time datetime="2099-03-01 18:32:28">2099-03-01 18:32:28</time>
            <p>최고입니다.</p>
            <p>★★★★</p>
          </article>		
              
          <article class="coupon_preview">
            <h1>커피통 와플</h1>
            <a href="/detail2.html">
              <img class="coupon_list_image" src="/image/coupon/coupon_02.jpg" alt="와플 메인 이미지">
            </a>
            <time datetime="2099-02-27 02:52:28">2099-02-27 02:52:28</time>	
            <form>
              <input type="hidden" name="couponId" value="5a9c726c77ed1952b4e9d1e4">
              <input type="hidden" name="purchaseId" value="5a9c726c77ed1952b4e9d1ff">
              평가: <input name="satisfaction" type="range" min="1" max="5" value="5" step="0.5" oninput="output.value=this.value"><output name="output">5</output>
              <textarea name="content" rows="4" cols="25" required placeholder="후기를 입력하세요."></textarea><br>
              <input type="submit" value="작성">
            </form>					
          </article>
          
			</section>
		</div>

    <%- include('layout/footer') %>

	</div>
</body>
</html>