<meta charset="utf-8">
<title><%= typeof title === 'undefined' ? '오늘은 뭘파니?' : title %> : 멀팡</title>
<meta name="description" content="멀티 캠퍼스 HTML5 강의용 데모 사이트">
<meta name="keywords" content="html5,css3,svg">
<link rel="shortcut icon" href="/image/favicon.ico">
<link rel="stylesheet" media="all" type="text/css" href="/css/layout.css">
<script src="/js/lib/jquery-3.6.4.min.js"></script>
