<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('layout/head', { title: '오늘의 쿠폰' }) %>

</head>
<body>
	<a href="#main" id="skipNavi">본문바로가기</a>
	<div id="page">

    <%- include('layout/header') %>

    

    <%- include('layout/footer') %>

	</div>
</body>
</html>